<header class="is-flex is-justify-content-space-between is-align-items-center is-flex-wrap-wrap">
  <div>
    <a href="{{ '/' | relative_url }}" class="site-title m-0">~/{{ site.title | escape }}</a>
  </div>
  <div class="mt-2 mt-0-tablet">
    <div class="select is-small">
      <select id="theme-switcher">
        <option value="light">Light</option>
        <option value="dark">Dark</option>
        <option value="hacker">Hacker</option>
        <option value="nord">Nord</option>
      </select>
    </div>
  </div>
</header>
