<nav class="navbar is-fixed-top is-dark" role="navigation" aria-label="main navigation">
  <div class="container">
    <!-- <div class="navbar-brand">
      <a class="navbar-item" href="{{ site.baseurl }}/">
        <strong>{{ site.title }}</strong>
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div> -->

    <div id="navbarMain" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{{ site.baseurl }}/">Home</a>
        <!-- <a class="navbar-item" href="{{ site.baseurl }}/services/">Services</a> -->
        <a class="navbar-item" href="https://blog.junl.ee/">Blog</a>
      </div>
    </div>
  </div>
</nav>
