---
layout: default
---

<div class="columns is-multiline">
  {% for i in (1..4) %}
  <div class="column is-6-tablet is-3-desktop is-flex-card">
    <div class="card" style="height: 100%; display: flex; flex-direction: column;">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="https://bulma.io/assets/images/placeholders/1280x960.png" alt="Placeholder">
        </figure>
      </div>
      <div class="card-content" style="flex-grow: 1;">
        <div class="content">
          This card will stack on mobile, sit 2-per-row on tablet, and 4-per-row on desktop.
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{{ content }}
